.git
.gitignore
.dockerignore
Dockerfile


# From .gitignore, manually maintained!

*.pyc

# node/npm dependencies
node_modules/

# php/composer dependencies
vendor/

# output of tests & build
dist/
output/