<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>comparisons expression | Jinja Compat Tests</title>
    <style type="text/css">
        html { font-family: Arial, sans-serif; }
        .app-footer { border-top: 1px solid black; margin-top: 1rem; padding-top: .5rem; }
    </style>
    
</head>
<body>


<style type="text/css">
    h4 { margin-bottom: 0; }
    h4 small { float: right; font-weight: normal; font-style: italic; }
    label { padding-right: 1em; cursor: pointer; }
    pre { padding: .5em; margin-top: .5rem; min-height: 1em; overflow-x: scroll; }
    .section { margin-bottom: 2.5rem; }
    .test { border: 2px solid deepskyblue; }
    .result { border: 2px solid lawngreen; }
    .error { border: 2px solid red; white-space: normal; }

    [data-engine-enabled="false"] { display:none; }
</style>

<header>
    <h1><a rel="home" href="../../">Jinja Compat Tests</a></h1>

    <form data-engine-enabler>
        <fieldset>
            <legend>Enabled engines</legend>
            
            <label>
                <input type="checkbox" checked name="engine" value="django">
                Django
            </label>
            
            <label>
                <input type="checkbox" checked name="engine" value="jinja2">
                Jinja2
            </label>
            
            <label>
                <input type="checkbox" checked name="engine" value="liquid">
                Liquid
            </label>
            
            <label>
                <input type="checkbox" checked name="engine" value="nunjucks">
                Nunjucks
            </label>
            
            <label>
                <input type="checkbox" checked name="engine" value="swig">
                Swig
            </label>
            
            <label>
                <input type="checkbox" checked name="engine" value="twig">
                Twig
            </label>
            
        </fieldset>
    </form>
</header>

<article>
    <h1><code>comparisons</code> expression</h1>

    <section id="docs">
        <h2><a class="permalink" href="#docs">Docs</a></h2>
        <ul>
        
            
        
            
        
            
        
            
        
            
        
        </ul>
    </section>

    <h2 id="tests">
        <a class="permalink" href="#tests">Tests</a>
    </h2>
    <ol>
    
        <li><a href="#ends-with">ends-with</a></li>
    
        <li><a href="#equal-to">equal-to</a></li>
    
        <li><a href="#greater-than-or-equal">greater-than-or-equal</a></li>
    
        <li><a href="#greater-than">greater-than</a></li>
    
        <li><a href="#less-than-or-equal">less-than-or-equal</a></li>
    
        <li><a href="#less-than">less-than</a></li>
    
        <li><a href="#matches">matches</a></li>
    
        <li><a href="#not-equal-to">not-equal-to</a></li>
    
        <li><a href="#starts-with">starts-with</a></li>
    
        <li><a href="#strict-equal-to">strict-equal-to</a></li>
    
        <li><a href="#strict-not-equal-to">strict-not-equal-to</a></li>
    
    </ol>
    
    
    <section class="section" id="ends-with">
        <h3><a class="permalink" href="#ends-with">Test: ends-with</a></h3>

        <h4>Template</h4>
        <pre class="test"><code>{% if 'Templates' ends with 's' %}
"Templates" ends with "s"
{% endif %}</code></pre>

        

        
        
        
        <section id="ends-with-django" data-engine="django">
            <h4>
                <a class="permalink" href="#ends-with-django">Output Django</a>
                (error)
                <small>v1.10.1</small>
            </h4>
            
                <pre class="error"><code>Unused 'ends' at end of if expression.</code></pre>
            
        </section>
        
        
        
        <section id="ends-with-jinja2" data-engine="jinja2">
            <h4>
                <a class="permalink" href="#ends-with-jinja2">Output Jinja2</a>
                (error)
                <small>v2.8.0</small>
            </h4>
            
                <pre class="error"><code>expected token 'end of statement block', got 'ends'</code></pre>
            
        </section>
        
        
        
        <section id="ends-with-liquid" data-engine="liquid">
            <h4>
                <a class="permalink" href="#ends-with-liquid">Output Liquid</a>
                
                <small>v3.0.6</small>
            </h4>
            
                <pre class="result"><code>Liquid error: Unknown operator ends</code></pre>
            
        </section>
        
        
        
        <section id="ends-with-nunjucks" data-engine="nunjucks">
            <h4>
                <a class="permalink" href="#ends-with-nunjucks">Output Nunjucks</a>
                (error)
                <small>v2.5.0</small>
            </h4>
            
                <pre class="error"><code> [Line 1, Column 22]
  expected block end in if statement</code></pre>
            
        </section>
        
        
        
        <section id="ends-with-swig" data-engine="swig">
            <h4>
                <a class="permalink" href="#ends-with-swig">Output Swig</a>
                (error)
                <small>v1.4.2</small>
            </h4>
            
                <pre class="error"><code>Reserved keyword "with" attempted to be used as a variable.</code></pre>
            
        </section>
        
        
        
        <section id="ends-with-twig" data-engine="twig">
            <h4>
                <a class="permalink" href="#ends-with-twig">Output Twig</a>
                
                <small>v1.24.2</small>
            </h4>
            
                <pre class="result"><code>"Templates" ends with "s"
</code></pre>
            
        </section>
        
    </section>
    
    
    <section class="section" id="equal-to">
        <h3><a class="permalink" href="#equal-to">Test: equal-to</a></h3>

        <h4>Template</h4>
        <pre class="test"><code>{% if varX == varY %}
`varX` is equal to `varY`
{% endif %}</code></pre>

        
        <h4>Data</h4>
        <pre class="test"><code>{
  "varX": "Templates",
  "varY": "Templates"
}</code></pre>
        

        
        
        
        <section id="equal-to-django" data-engine="django">
            <h4>
                <a class="permalink" href="#equal-to-django">Output Django</a>
                
                <small>v1.10.1</small>
            </h4>
            
                <pre class="result"><code>
`varX` is equal to `varY`
</code></pre>
            
        </section>
        
        
        
        <section id="equal-to-jinja2" data-engine="jinja2">
            <h4>
                <a class="permalink" href="#equal-to-jinja2">Output Jinja2</a>
                
                <small>v2.8.0</small>
            </h4>
            
                <pre class="result"><code>
`varX` is equal to `varY`
</code></pre>
            
        </section>
        
        
        
        <section id="equal-to-liquid" data-engine="liquid">
            <h4>
                <a class="permalink" href="#equal-to-liquid">Output Liquid</a>
                
                <small>v3.0.6</small>
            </h4>
            
                <pre class="result"><code>
`varX` is equal to `varY`
</code></pre>
            
        </section>
        
        
        
        <section id="equal-to-nunjucks" data-engine="nunjucks">
            <h4>
                <a class="permalink" href="#equal-to-nunjucks">Output Nunjucks</a>
                
                <small>v2.5.0</small>
            </h4>
            
                <pre class="result"><code>
`varX` is equal to `varY`
</code></pre>
            
        </section>
        
        
        
        <section id="equal-to-swig" data-engine="swig">
            <h4>
                <a class="permalink" href="#equal-to-swig">Output Swig</a>
                
                <small>v1.4.2</small>
            </h4>
            
                <pre class="result"><code>
`varX` is equal to `varY`
</code></pre>
            
        </section>
        
        
        
        <section id="equal-to-twig" data-engine="twig">
            <h4>
                <a class="permalink" href="#equal-to-twig">Output Twig</a>
                
                <small>v1.24.2</small>
            </h4>
            
                <pre class="result"><code>`varX` is equal to `varY`
</code></pre>
            
        </section>
        
    </section>
    
    
    <section class="section" id="greater-than-or-equal">
        <h3><a class="permalink" href="#greater-than-or-equal">Test: greater-than-or-equal</a></h3>

        <h4>Template</h4>
        <pre class="test"><code>{% if 2 >= 1 %}
2 is greater than or equal to 1
{% endif %}

{% if 2 >= 1 %}
2 is greater than or equal to 2
{% endif %}</code></pre>

        

        
        
        
        <section id="greater-than-or-equal-django" data-engine="django">
            <h4>
                <a class="permalink" href="#greater-than-or-equal-django">Output Django</a>
                
                <small>v1.10.1</small>
            </h4>
            
                <pre class="result"><code>
2 is greater than or equal to 1



2 is greater than or equal to 2
</code></pre>
            
        </section>
        
        
        
        <section id="greater-than-or-equal-jinja2" data-engine="jinja2">
            <h4>
                <a class="permalink" href="#greater-than-or-equal-jinja2">Output Jinja2</a>
                
                <small>v2.8.0</small>
            </h4>
            
                <pre class="result"><code>
2 is greater than or equal to 1



2 is greater than or equal to 2
</code></pre>
            
        </section>
        
        
        
        <section id="greater-than-or-equal-liquid" data-engine="liquid">
            <h4>
                <a class="permalink" href="#greater-than-or-equal-liquid">Output Liquid</a>
                
                <small>v3.0.6</small>
            </h4>
            
                <pre class="result"><code>
2 is greater than or equal to 1



2 is greater than or equal to 2
</code></pre>
            
        </section>
        
        
        
        <section id="greater-than-or-equal-nunjucks" data-engine="nunjucks">
            <h4>
                <a class="permalink" href="#greater-than-or-equal-nunjucks">Output Nunjucks</a>
                
                <small>v2.5.0</small>
            </h4>
            
                <pre class="result"><code>
2 is greater than or equal to 1



2 is greater than or equal to 2
</code></pre>
            
        </section>
        
        
        
        <section id="greater-than-or-equal-swig" data-engine="swig">
            <h4>
                <a class="permalink" href="#greater-than-or-equal-swig">Output Swig</a>
                
                <small>v1.4.2</small>
            </h4>
            
                <pre class="result"><code>
2 is greater than or equal to 1



2 is greater than or equal to 2
</code></pre>
            
        </section>
        
        
        
        <section id="greater-than-or-equal-twig" data-engine="twig">
            <h4>
                <a class="permalink" href="#greater-than-or-equal-twig">Output Twig</a>
                
                <small>v1.24.2</small>
            </h4>
            
                <pre class="result"><code>2 is greater than or equal to 1

2 is greater than or equal to 2
</code></pre>
            
        </section>
        
    </section>
    
    
    <section class="section" id="greater-than">
        <h3><a class="permalink" href="#greater-than">Test: greater-than</a></h3>

        <h4>Template</h4>
        <pre class="test"><code>{% if 2 > 1 %}
2 is greater than 1
{% endif %}</code></pre>

        

        
        
        
        <section id="greater-than-django" data-engine="django">
            <h4>
                <a class="permalink" href="#greater-than-django">Output Django</a>
                
                <small>v1.10.1</small>
            </h4>
            
                <pre class="result"><code>
2 is greater than 1
</code></pre>
            
        </section>
        
        
        
        <section id="greater-than-jinja2" data-engine="jinja2">
            <h4>
                <a class="permalink" href="#greater-than-jinja2">Output Jinja2</a>
                
                <small>v2.8.0</small>
            </h4>
            
                <pre class="result"><code>
2 is greater than 1
</code></pre>
            
        </section>
        
        
        
        <section id="greater-than-liquid" data-engine="liquid">
            <h4>
                <a class="permalink" href="#greater-than-liquid">Output Liquid</a>
                
                <small>v3.0.6</small>
            </h4>
            
                <pre class="result"><code>
2 is greater than 1
</code></pre>
            
        </section>
        
        
        
        <section id="greater-than-nunjucks" data-engine="nunjucks">
            <h4>
                <a class="permalink" href="#greater-than-nunjucks">Output Nunjucks</a>
                
                <small>v2.5.0</small>
            </h4>
            
                <pre class="result"><code>
2 is greater than 1
</code></pre>
            
        </section>
        
        
        
        <section id="greater-than-swig" data-engine="swig">
            <h4>
                <a class="permalink" href="#greater-than-swig">Output Swig</a>
                
                <small>v1.4.2</small>
            </h4>
            
                <pre class="result"><code>
2 is greater than 1
</code></pre>
            
        </section>
        
        
        
        <section id="greater-than-twig" data-engine="twig">
            <h4>
                <a class="permalink" href="#greater-than-twig">Output Twig</a>
                
                <small>v1.24.2</small>
            </h4>
            
                <pre class="result"><code>2 is greater than 1
</code></pre>
            
        </section>
        
    </section>
    
    
    <section class="section" id="less-than-or-equal">
        <h3><a class="permalink" href="#less-than-or-equal">Test: less-than-or-equal</a></h3>

        <h4>Template</h4>
        <pre class="test"><code>{% if 1 &lt;= 2 %}
1 is less than or equal to 2
{% endif %}

{% if 1 &lt;= 1 %}
1 is less than or equal to 1
{% endif %}</code></pre>

        

        
        
        
        <section id="less-than-or-equal-django" data-engine="django">
            <h4>
                <a class="permalink" href="#less-than-or-equal-django">Output Django</a>
                
                <small>v1.10.1</small>
            </h4>
            
                <pre class="result"><code>
1 is less than or equal to 2



1 is less than or equal to 1
</code></pre>
            
        </section>
        
        
        
        <section id="less-than-or-equal-jinja2" data-engine="jinja2">
            <h4>
                <a class="permalink" href="#less-than-or-equal-jinja2">Output Jinja2</a>
                
                <small>v2.8.0</small>
            </h4>
            
                <pre class="result"><code>
1 is less than or equal to 2



1 is less than or equal to 1
</code></pre>
            
        </section>
        
        
        
        <section id="less-than-or-equal-liquid" data-engine="liquid">
            <h4>
                <a class="permalink" href="#less-than-or-equal-liquid">Output Liquid</a>
                
                <small>v3.0.6</small>
            </h4>
            
                <pre class="result"><code>
1 is less than or equal to 2



1 is less than or equal to 1
</code></pre>
            
        </section>
        
        
        
        <section id="less-than-or-equal-nunjucks" data-engine="nunjucks">
            <h4>
                <a class="permalink" href="#less-than-or-equal-nunjucks">Output Nunjucks</a>
                
                <small>v2.5.0</small>
            </h4>
            
                <pre class="result"><code>
1 is less than or equal to 2



1 is less than or equal to 1
</code></pre>
            
        </section>
        
        
        
        <section id="less-than-or-equal-swig" data-engine="swig">
            <h4>
                <a class="permalink" href="#less-than-or-equal-swig">Output Swig</a>
                
                <small>v1.4.2</small>
            </h4>
            
                <pre class="result"><code>
1 is less than or equal to 2



1 is less than or equal to 1
</code></pre>
            
        </section>
        
        
        
        <section id="less-than-or-equal-twig" data-engine="twig">
            <h4>
                <a class="permalink" href="#less-than-or-equal-twig">Output Twig</a>
                
                <small>v1.24.2</small>
            </h4>
            
                <pre class="result"><code>1 is less than or equal to 2

1 is less than or equal to 1
</code></pre>
            
        </section>
        
    </section>
    
    
    <section class="section" id="less-than">
        <h3><a class="permalink" href="#less-than">Test: less-than</a></h3>

        <h4>Template</h4>
        <pre class="test"><code>{% if 1 &lt; 2 %}
1 is less than 2
{% endif %}</code></pre>

        

        
        
        
        <section id="less-than-django" data-engine="django">
            <h4>
                <a class="permalink" href="#less-than-django">Output Django</a>
                
                <small>v1.10.1</small>
            </h4>
            
                <pre class="result"><code>
1 is less than 2
</code></pre>
            
        </section>
        
        
        
        <section id="less-than-jinja2" data-engine="jinja2">
            <h4>
                <a class="permalink" href="#less-than-jinja2">Output Jinja2</a>
                
                <small>v2.8.0</small>
            </h4>
            
                <pre class="result"><code>
1 is less than 2
</code></pre>
            
        </section>
        
        
        
        <section id="less-than-liquid" data-engine="liquid">
            <h4>
                <a class="permalink" href="#less-than-liquid">Output Liquid</a>
                
                <small>v3.0.6</small>
            </h4>
            
                <pre class="result"><code>
1 is less than 2
</code></pre>
            
        </section>
        
        
        
        <section id="less-than-nunjucks" data-engine="nunjucks">
            <h4>
                <a class="permalink" href="#less-than-nunjucks">Output Nunjucks</a>
                
                <small>v2.5.0</small>
            </h4>
            
                <pre class="result"><code>
1 is less than 2
</code></pre>
            
        </section>
        
        
        
        <section id="less-than-swig" data-engine="swig">
            <h4>
                <a class="permalink" href="#less-than-swig">Output Swig</a>
                
                <small>v1.4.2</small>
            </h4>
            
                <pre class="result"><code>
1 is less than 2
</code></pre>
            
        </section>
        
        
        
        <section id="less-than-twig" data-engine="twig">
            <h4>
                <a class="permalink" href="#less-than-twig">Output Twig</a>
                
                <small>v1.24.2</small>
            </h4>
            
                <pre class="result"><code>1 is less than 2
</code></pre>
            
        </section>
        
    </section>
    
    
    <section class="section" id="matches">
        <h3><a class="permalink" href="#matches">Test: matches</a></h3>

        <h4>Template</h4>
        <pre class="test"><code>{% if phone matches '/^[\\d\\.]+$/' %}
`phone` is a valid phone number
{% endif %}</code></pre>

        
        <h4>Data</h4>
        <pre class="test"><code>{
  "phone": "00311234567"
}</code></pre>
        

        
        
        
        <section id="matches-django" data-engine="django">
            <h4>
                <a class="permalink" href="#matches-django">Output Django</a>
                (error)
                <small>v1.10.1</small>
            </h4>
            
                <pre class="error"><code>Unused 'matches' at end of if expression.</code></pre>
            
        </section>
        
        
        
        <section id="matches-jinja2" data-engine="jinja2">
            <h4>
                <a class="permalink" href="#matches-jinja2">Output Jinja2</a>
                (error)
                <small>v2.8.0</small>
            </h4>
            
                <pre class="error"><code>expected token 'end of statement block', got 'matches'</code></pre>
            
        </section>
        
        
        
        <section id="matches-liquid" data-engine="liquid">
            <h4>
                <a class="permalink" href="#matches-liquid">Output Liquid</a>
                
                <small>v3.0.6</small>
            </h4>
            
                <pre class="result"><code>Liquid error: Unknown operator matches</code></pre>
            
        </section>
        
        
        
        <section id="matches-nunjucks" data-engine="nunjucks">
            <h4>
                <a class="permalink" href="#matches-nunjucks">Output Nunjucks</a>
                (error)
                <small>v2.5.0</small>
            </h4>
            
                <pre class="error"><code> [Line 1, Column 19]
  expected block end in if statement</code></pre>
            
        </section>
        
        
        
        <section id="matches-swig" data-engine="swig">
            <h4>
                <a class="permalink" href="#matches-swig">Output Swig</a>
                (error)
                <small>v1.4.2</small>
            </h4>
            
                <pre class="error"><code>SyntaxError: Unexpected string.</code></pre>
            
        </section>
        
        
        
        <section id="matches-twig" data-engine="twig">
            <h4>
                <a class="permalink" href="#matches-twig">Output Twig</a>
                
                <small>v1.24.2</small>
            </h4>
            
                <pre class="result"><code>`phone` is a valid phone number
</code></pre>
            
        </section>
        
    </section>
    
    
    <section class="section" id="not-equal-to">
        <h3><a class="permalink" href="#not-equal-to">Test: not-equal-to</a></h3>

        <h4>Template</h4>
        <pre class="test"><code>{% if varX != varY %}
`varX` is not equal to `varY`
{% endif %}</code></pre>

        
        <h4>Data</h4>
        <pre class="test"><code>{
  "varX": "Templates",
  "varY": "Partials"
}</code></pre>
        

        
        
        
        <section id="not-equal-to-django" data-engine="django">
            <h4>
                <a class="permalink" href="#not-equal-to-django">Output Django</a>
                
                <small>v1.10.1</small>
            </h4>
            
                <pre class="result"><code>
`varX` is not equal to `varY`
</code></pre>
            
        </section>
        
        
        
        <section id="not-equal-to-jinja2" data-engine="jinja2">
            <h4>
                <a class="permalink" href="#not-equal-to-jinja2">Output Jinja2</a>
                
                <small>v2.8.0</small>
            </h4>
            
                <pre class="result"><code>
`varX` is not equal to `varY`
</code></pre>
            
        </section>
        
        
        
        <section id="not-equal-to-liquid" data-engine="liquid">
            <h4>
                <a class="permalink" href="#not-equal-to-liquid">Output Liquid</a>
                
                <small>v3.0.6</small>
            </h4>
            
                <pre class="result"><code>
`varX` is not equal to `varY`
</code></pre>
            
        </section>
        
        
        
        <section id="not-equal-to-nunjucks" data-engine="nunjucks">
            <h4>
                <a class="permalink" href="#not-equal-to-nunjucks">Output Nunjucks</a>
                
                <small>v2.5.0</small>
            </h4>
            
                <pre class="result"><code>
`varX` is not equal to `varY`
</code></pre>
            
        </section>
        
        
        
        <section id="not-equal-to-swig" data-engine="swig">
            <h4>
                <a class="permalink" href="#not-equal-to-swig">Output Swig</a>
                
                <small>v1.4.2</small>
            </h4>
            
                <pre class="result"><code>
`varX` is not equal to `varY`
</code></pre>
            
        </section>
        
        
        
        <section id="not-equal-to-twig" data-engine="twig">
            <h4>
                <a class="permalink" href="#not-equal-to-twig">Output Twig</a>
                
                <small>v1.24.2</small>
            </h4>
            
                <pre class="result"><code>`varX` is not equal to `varY`
</code></pre>
            
        </section>
        
    </section>
    
    
    <section class="section" id="starts-with">
        <h3><a class="permalink" href="#starts-with">Test: starts-with</a></h3>

        <h4>Template</h4>
        <pre class="test"><code>{% if 'Templates' starts with 'T' %}
"Templates" starts with "T"
{% endif %}</code></pre>

        

        
        
        
        <section id="starts-with-django" data-engine="django">
            <h4>
                <a class="permalink" href="#starts-with-django">Output Django</a>
                (error)
                <small>v1.10.1</small>
            </h4>
            
                <pre class="error"><code>Unused 'starts' at end of if expression.</code></pre>
            
        </section>
        
        
        
        <section id="starts-with-jinja2" data-engine="jinja2">
            <h4>
                <a class="permalink" href="#starts-with-jinja2">Output Jinja2</a>
                (error)
                <small>v2.8.0</small>
            </h4>
            
                <pre class="error"><code>expected token 'end of statement block', got 'starts'</code></pre>
            
        </section>
        
        
        
        <section id="starts-with-liquid" data-engine="liquid">
            <h4>
                <a class="permalink" href="#starts-with-liquid">Output Liquid</a>
                
                <small>v3.0.6</small>
            </h4>
            
                <pre class="result"><code>Liquid error: Unknown operator starts</code></pre>
            
        </section>
        
        
        
        <section id="starts-with-nunjucks" data-engine="nunjucks">
            <h4>
                <a class="permalink" href="#starts-with-nunjucks">Output Nunjucks</a>
                (error)
                <small>v2.5.0</small>
            </h4>
            
                <pre class="error"><code> [Line 1, Column 24]
  expected block end in if statement</code></pre>
            
        </section>
        
        
        
        <section id="starts-with-swig" data-engine="swig">
            <h4>
                <a class="permalink" href="#starts-with-swig">Output Swig</a>
                (error)
                <small>v1.4.2</small>
            </h4>
            
                <pre class="error"><code>Reserved keyword "with" attempted to be used as a variable.</code></pre>
            
        </section>
        
        
        
        <section id="starts-with-twig" data-engine="twig">
            <h4>
                <a class="permalink" href="#starts-with-twig">Output Twig</a>
                
                <small>v1.24.2</small>
            </h4>
            
                <pre class="result"><code>"Templates" starts with "T"
</code></pre>
            
        </section>
        
    </section>
    
    
    <section class="section" id="strict-equal-to">
        <h3><a class="permalink" href="#strict-equal-to">Test: strict-equal-to</a></h3>

        <h4>Template</h4>
        <pre class="test"><code>{% if 1234 === 1234 %}
1234 not strict equal to 1234
{% endif %}</code></pre>

        

        
        
        
        <section id="strict-equal-to-django" data-engine="django">
            <h4>
                <a class="permalink" href="#strict-equal-to-django">Output Django</a>
                (error)
                <small>v1.10.1</small>
            </h4>
            
                <pre class="error"><code>Could not parse the remainder: '===' from '==='</code></pre>
            
        </section>
        
        
        
        <section id="strict-equal-to-jinja2" data-engine="jinja2">
            <h4>
                <a class="permalink" href="#strict-equal-to-jinja2">Output Jinja2</a>
                (error)
                <small>v2.8.0</small>
            </h4>
            
                <pre class="error"><code>unexpected '='</code></pre>
            
        </section>
        
        
        
        <section id="strict-equal-to-liquid" data-engine="liquid">
            <h4>
                <a class="permalink" href="#strict-equal-to-liquid">Output Liquid</a>
                
                <small>v3.0.6</small>
            </h4>
            
                <pre class="result"><code>Liquid error: Unknown operator ===</code></pre>
            
        </section>
        
        
        
        <section id="strict-equal-to-nunjucks" data-engine="nunjucks">
            <h4>
                <a class="permalink" href="#strict-equal-to-nunjucks">Output Nunjucks</a>
                
                <small>v2.5.0</small>
            </h4>
            
                <pre class="result"><code>
1234 not strict equal to 1234
</code></pre>
            
        </section>
        
        
        
        <section id="strict-equal-to-swig" data-engine="swig">
            <h4>
                <a class="permalink" href="#strict-equal-to-swig">Output Swig</a>
                
                <small>v1.4.2</small>
            </h4>
            
                <pre class="result"><code>
1234 not strict equal to 1234
</code></pre>
            
        </section>
        
        
        
        <section id="strict-equal-to-twig" data-engine="twig">
            <h4>
                <a class="permalink" href="#strict-equal-to-twig">Output Twig</a>
                (error)
                <small>v1.24.2</small>
            </h4>
            
                <pre class="error"><code>Unexpected token "operator" of value "=".</code></pre>
            
        </section>
        
    </section>
    
    
    <section class="section" id="strict-not-equal-to">
        <h3><a class="permalink" href="#strict-not-equal-to">Test: strict-not-equal-to</a></h3>

        <h4>Template</h4>
        <pre class="test"><code>{% if 1234 !== '1234' %}
1234 is not strict equal to '1234'
{% endif %}</code></pre>

        

        
        
        
        <section id="strict-not-equal-to-django" data-engine="django">
            <h4>
                <a class="permalink" href="#strict-not-equal-to-django">Output Django</a>
                (error)
                <small>v1.10.1</small>
            </h4>
            
                <pre class="error"><code>Could not parse the remainder: '!==' from '!=='</code></pre>
            
        </section>
        
        
        
        <section id="strict-not-equal-to-jinja2" data-engine="jinja2">
            <h4>
                <a class="permalink" href="#strict-not-equal-to-jinja2">Output Jinja2</a>
                (error)
                <small>v2.8.0</small>
            </h4>
            
                <pre class="error"><code>unexpected '='</code></pre>
            
        </section>
        
        
        
        <section id="strict-not-equal-to-liquid" data-engine="liquid">
            <h4>
                <a class="permalink" href="#strict-not-equal-to-liquid">Output Liquid</a>
                
                <small>v3.0.6</small>
            </h4>
            
                <pre class="result"><code>Liquid error: Unknown operator !==</code></pre>
            
        </section>
        
        
        
        <section id="strict-not-equal-to-nunjucks" data-engine="nunjucks">
            <h4>
                <a class="permalink" href="#strict-not-equal-to-nunjucks">Output Nunjucks</a>
                
                <small>v2.5.0</small>
            </h4>
            
                <pre class="result"><code>
1234 is not strict equal to '1234'
</code></pre>
            
        </section>
        
        
        
        <section id="strict-not-equal-to-swig" data-engine="swig">
            <h4>
                <a class="permalink" href="#strict-not-equal-to-swig">Output Swig</a>
                
                <small>v1.4.2</small>
            </h4>
            
                <pre class="result"><code>
1234 is not strict equal to '1234'
</code></pre>
            
        </section>
        
        
        
        <section id="strict-not-equal-to-twig" data-engine="twig">
            <h4>
                <a class="permalink" href="#strict-not-equal-to-twig">Output Twig</a>
                (error)
                <small>v1.24.2</small>
            </h4>
            
                <pre class="error"><code>Unexpected token "operator" of value "=".</code></pre>
            
        </section>
        
    </section>
    
</article>

<script>(function engineEnabler(){
    'use strict';

    var CAPABLE_BROWSER = ('addEventListener' in window);
    if (!CAPABLE_BROWSER) {
        return;
    }

    var SUPPORTS_STORAGE = ('localStorage' in window);
    var STORAGE_KEY = 'enabledEngines';
    var FORM_SELECTOR = '[data-engine-enabler]';
    var INPUT_NAME = 'engine';
    var TARGET_ATTR = 'data-engine';
    var ENABLED_ATTR = 'data-engine-enabled';

    var form = document.querySelector(FORM_SELECTOR);
    var inputs = [].slice.call(form[INPUT_NAME]);
    var targets = [].slice.call(document.querySelectorAll('[' + TARGET_ATTR + ']'));

    form.addEventListener('change', onEnableEngines);
    restoreState();

    function onEnableEngines() {
        var state = getEngineState(this);
        enableTargets(state);
        saveState(state);
    }

    function getEngineState(form) {
        return inputs.reduce(function(map, input){
            map[input.value] = input.checked;
            return map;
        }, {});
    }

    function enableTargets(state) {
        targets.forEach(function(target) {
            var key = target.getAttribute(TARGET_ATTR);
            target.setAttribute(ENABLED_ATTR, state[key]);
        });
    }

    function saveState(state) {
        if(!SUPPORTS_STORAGE) {
            return;
        }
        localStorage.setItem(STORAGE_KEY, JSON.stringify(state));
    }

    function restoreState() {
        if(!SUPPORTS_STORAGE) {
            return;
        }
        var state = JSON.parse(localStorage.getItem(STORAGE_KEY));
        restoreInputs(state);
        enableTargets(state);
    }

    function restoreInputs(state) {
        inputs.forEach(function(input) {
           input.checked = state[input.value];
        });
    }

}());</script>


<footer class="app-footer" role="contentinfo">
    <a href="https://github.com/jbmoelker/jinja-compat-tests">Source on GitHub</a>
</footer>


</body>
</html>