<!DOCTYPE html>
<html lang="en">
<head>
    {# Required meta tags always come first #}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>{{ title }} | Jinja Compat Tests</title>
    <style type="text/css">
        html { font-family: Arial, sans-serif; }
        .app-footer { border-top: 1px solid black; margin-top: 1rem; padding-top: .5rem; }
    </style>
    {% block head %}{% endblock %}
</head>
<body>

{% block content %}{#- extend this template and place content inside this block #}{% endblock %}

<footer class="app-footer" role="contentinfo">
    <a href="https://github.com/jbmoelker/jinja-compat-tests">Source on GitHub</a>
</footer>

{% block foot %}{% endblock %}
</body>
</html>