{% extends "base.html" %}

{% block content %}
<style>
    table { width: 100%; }
    thead { background-color: #f9f9f9; }
    th, td { width: 5em; }
    th:first-child { text-align: left; width: 10em; }
    td a { display:block; text-decoration: none; }
    .table-title { font-size: 2rem; }
    .support-full { background-color: #39b54a; }
    .support-part { background-color: #A8BD04; }
    .support-none { background-color: #c44230; }
    .legend dt, dd { display: inline-block; margin:0; }
    .legend dt { width: 1em; height: .8em; }
    .legend dt + dd:before { display: inline-block; content: "="; margin-left: .2em; margin-right: .2em; }
    .legend dd + dt { margin-left: .8em; }
    .a11y-only {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
</style>

<h1>Jinja Compat Tests</h1>

{% macro thead(title) %}
    <thead id="{{ title }}">
        <th>
            <a href="#{{ title }}">{{ title }}</a>
        </th>
    {% for engine in engines %}
        <th>
            {{ engine|title }}<br>
            <small>v{{ versions[engine] }}</small>
        </th>
    {% endfor %}
    </thead>
{% endmacro %}

<table>
    <caption>
        <span class="table-title">Template feature support per engine</span>
        <dl class="legend">
            <dt class="support-full" title="dark green"><span class="a11y-only">dark green</span></dt><dd>full support</dd>
            <dt class="support-part" title="light green"><span class="a11y-only">light green</span></dt><dd>partial support</dd>
            <dt class="support-none" title="red"><span class="a11y-only">red</span></dt><dd>none support</dd>
        </dl>
    </caption>
    {%- for type, features in tests %}
    {{ thead(type) }}
    <tbody>
    {%- for feature, items in features %}
        <tr>
            <th><a href="{{ type }}/{{ feature }}/"><code>{{ feature }}</code></a></th>
            {% for engine in engines %}
                <td>
                {% if (errors[engine][type][feature]|length) == (tests[type][feature]|length) %}
                    <a class="support-none" href="{{ type }}/{{ feature }}/" title="No support">
                        &nbsp;<span class="a11y-only">No support</span>
                    </a>
                {% elseif errors[engine][type][feature]|length %}
                    <a class="support-part" href="{{ type }}/{{ feature }}/" title="Partial support">
                        &nbsp;<span class="a11y-only">Partial support</span>
                    </a>
                {% else %}
                    <a class="support-full" href="{{ type }}/{{ feature }}/" title="Full support">
                        &nbsp;<span class="a11y-only">Full support</span>
                    </a>
                {% endif %}
                </td>
            {% endfor %}
        </tr>
    {% endfor -%}
    </tbody>
    {% endfor %}
</table>

{% endblock %}
