<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>batch filter | Jinja Compat Tests</title>
    <style type="text/css">
        html { font-family: Arial, sans-serif; }
        .app-footer { border-top: 1px solid black; margin-top: 1rem; padding-top: .5rem; }
    </style>
    
</head>
<body>


<style type="text/css">
    h4 { margin-bottom: 0; }
    h4 small { float: right; font-weight: normal; font-style: italic; }
    label { padding-right: 1em; cursor: pointer; }
    pre { padding: .5em; margin-top: .5rem; min-height: 1em; overflow-x: scroll; }
    .section { margin-bottom: 2.5rem; }
    .test { border: 2px solid deepskyblue; }
    .result { border: 2px solid lawngreen; }
    .error { border: 2px solid red; white-space: normal; }

    [data-engine-enabled="false"] { display:none; }
</style>

<header>
    <h1><a rel="home" href="../../">Jinja Compat Tests</a></h1>

    <form data-engine-enabler>
        <fieldset>
            <legend>Enabled engines</legend>
            
            <label>
                <input type="checkbox" checked name="engine" value="django">
                Django
            </label>
            
            <label>
                <input type="checkbox" checked name="engine" value="jinja2">
                Jinja2
            </label>
            
            <label>
                <input type="checkbox" checked name="engine" value="liquid">
                Liquid
            </label>
            
            <label>
                <input type="checkbox" checked name="engine" value="nunjucks">
                Nunjucks
            </label>
            
            <label>
                <input type="checkbox" checked name="engine" value="swig">
                Swig
            </label>
            
            <label>
                <input type="checkbox" checked name="engine" value="twig">
                Twig
            </label>
            
        </fieldset>
    </form>
</header>

<article>
    <h1><code>batch</code> filter</h1>

    <section id="docs">
        <h2><a class="permalink" href="#docs">Docs</a></h2>
        <ul>
        
            
        
            
            <li>
                <a href="http://jinja.pocoo.org/docs/dev/templates/#batch">Jinja2</a>
            </li>
            
        
            
            <li>
                <a href="https://mozilla.github.io/nunjucks/templating.html#batch">Nunjucks</a>
            </li>
            
        
            
        
            
            <li>
                <a href="http://twig.sensiolabs.org/doc/filters/batch.html">Twig</a>
            </li>
            
        
        </ul>
    </section>

    <h2 id="tests">
        <a class="permalink" href="#tests">Tests</a>
    </h2>
    <ol>
    
        <li><a href="#size-and-fill">size-and-fill</a></li>
    
        <li><a href="#size-only">size-only</a></li>
    
    </ol>
    
    
    <section class="section" id="size-and-fill">
        <h3><a class="permalink" href="#size-and-fill">Test: size-and-fill</a></h3>

        <h4>Template</h4>
        <pre class="test"><code>{% for row in items|batch(3, '-') -%}
    {% for column in row %} {{ column }} {% endfor %} |
{% endfor %}</code></pre>

        
        <h4>Data</h4>
        <pre class="test"><code>{
  "items": ["a", "b", "c", "d", "e", "f", "g"]
}</code></pre>
        

        
        
        
        <section id="size-and-fill-django" data-engine="django">
            <h4>
                <a class="permalink" href="#size-and-fill-django">Output Django</a>
                (error)
                <small>v1.10.1</small>
            </h4>
            
                <pre class="error"><code>'for' statements should use the format 'for x in y': for row in items|batch(3, '-') -</code></pre>
            
        </section>
        
        
        
        <section id="size-and-fill-jinja2" data-engine="jinja2">
            <h4>
                <a class="permalink" href="#size-and-fill-jinja2">Output Jinja2</a>
                
                <small>v2.8.0</small>
            </h4>
            
                <pre class="result"><code> a  b  c  |
 d  e  f  |
 g  -  -  |
</code></pre>
            
        </section>
        
        
        
        <section id="size-and-fill-liquid" data-engine="liquid">
            <h4>
                <a class="permalink" href="#size-and-fill-liquid">Output Liquid</a>
                
                <small>v3.0.6</small>
            </h4>
            
                <pre class="result"><code>
     a  |

     b  |

     c  |

     d  |

     e  |

     f  |

     g  |
</code></pre>
            
        </section>
        
        
        
        <section id="size-and-fill-nunjucks" data-engine="nunjucks">
            <h4>
                <a class="permalink" href="#size-and-fill-nunjucks">Output Nunjucks</a>
                
                <small>v2.5.0</small>
            </h4>
            
                <pre class="result"><code> a  b  c  |
 d  e  f  |
 g  -  -  |
</code></pre>
            
        </section>
        
        
        
        <section id="size-and-fill-swig" data-engine="swig">
            <h4>
                <a class="permalink" href="#size-and-fill-swig">Output Swig</a>
                (error)
                <small>v1.4.2</small>
            </h4>
            
                <pre class="error"><code>Invalid filter "batch".</code></pre>
            
        </section>
        
        
        
        <section id="size-and-fill-twig" data-engine="twig">
            <h4>
                <a class="permalink" href="#size-and-fill-twig">Output Twig</a>
                
                <small>v1.24.2</small>
            </h4>
            
                <pre class="result"><code> a  b  c  |
 d  e  f  |
 g  -  -  |
</code></pre>
            
        </section>
        
    </section>
    
    
    <section class="section" id="size-only">
        <h3><a class="permalink" href="#size-only">Test: size-only</a></h3>

        <h4>Template</h4>
        <pre class="test"><code>{% for row in items|batch(3) -%}
    {% for column in row %} {{ column }} {% endfor %} |
{% endfor %}</code></pre>

        
        <h4>Data</h4>
        <pre class="test"><code>{
  "items": ["a", "b", "c", "d", "e", "f", "g"]
}</code></pre>
        

        
        
        
        <section id="size-only-django" data-engine="django">
            <h4>
                <a class="permalink" href="#size-only-django">Output Django</a>
                (error)
                <small>v1.10.1</small>
            </h4>
            
                <pre class="error"><code>'for' statements should use the format 'for x in y': for row in items|batch(3) -</code></pre>
            
        </section>
        
        
        
        <section id="size-only-jinja2" data-engine="jinja2">
            <h4>
                <a class="permalink" href="#size-only-jinja2">Output Jinja2</a>
                
                <small>v2.8.0</small>
            </h4>
            
                <pre class="result"><code> a  b  c  |
 d  e  f  |
 g  |
</code></pre>
            
        </section>
        
        
        
        <section id="size-only-liquid" data-engine="liquid">
            <h4>
                <a class="permalink" href="#size-only-liquid">Output Liquid</a>
                
                <small>v3.0.6</small>
            </h4>
            
                <pre class="result"><code>
     a  |

     b  |

     c  |

     d  |

     e  |

     f  |

     g  |
</code></pre>
            
        </section>
        
        
        
        <section id="size-only-nunjucks" data-engine="nunjucks">
            <h4>
                <a class="permalink" href="#size-only-nunjucks">Output Nunjucks</a>
                
                <small>v2.5.0</small>
            </h4>
            
                <pre class="result"><code> a  b  c  |
 d  e  f  |
 g  |
</code></pre>
            
        </section>
        
        
        
        <section id="size-only-swig" data-engine="swig">
            <h4>
                <a class="permalink" href="#size-only-swig">Output Swig</a>
                (error)
                <small>v1.4.2</small>
            </h4>
            
                <pre class="error"><code>Invalid filter "batch".</code></pre>
            
        </section>
        
        
        
        <section id="size-only-twig" data-engine="twig">
            <h4>
                <a class="permalink" href="#size-only-twig">Output Twig</a>
                
                <small>v1.24.2</small>
            </h4>
            
                <pre class="result"><code> a  b  c  |
 d  e  f  |
 g  |
</code></pre>
            
        </section>
        
    </section>
    
</article>

<script>(function engineEnabler(){
    'use strict';

    var CAPABLE_BROWSER = ('addEventListener' in window);
    if (!CAPABLE_BROWSER) {
        return;
    }

    var SUPPORTS_STORAGE = ('localStorage' in window);
    var STORAGE_KEY = 'enabledEngines';
    var FORM_SELECTOR = '[data-engine-enabler]';
    var INPUT_NAME = 'engine';
    var TARGET_ATTR = 'data-engine';
    var ENABLED_ATTR = 'data-engine-enabled';

    var form = document.querySelector(FORM_SELECTOR);
    var inputs = [].slice.call(form[INPUT_NAME]);
    var targets = [].slice.call(document.querySelectorAll('[' + TARGET_ATTR + ']'));

    form.addEventListener('change', onEnableEngines);
    restoreState();

    function onEnableEngines() {
        var state = getEngineState(this);
        enableTargets(state);
        saveState(state);
    }

    function getEngineState(form) {
        return inputs.reduce(function(map, input){
            map[input.value] = input.checked;
            return map;
        }, {});
    }

    function enableTargets(state) {
        targets.forEach(function(target) {
            var key = target.getAttribute(TARGET_ATTR);
            target.setAttribute(ENABLED_ATTR, state[key]);
        });
    }

    function saveState(state) {
        if(!SUPPORTS_STORAGE) {
            return;
        }
        localStorage.setItem(STORAGE_KEY, JSON.stringify(state));
    }

    function restoreState() {
        if(!SUPPORTS_STORAGE) {
            return;
        }
        var state = JSON.parse(localStorage.getItem(STORAGE_KEY));
        restoreInputs(state);
        enableTargets(state);
    }

    function restoreInputs(state) {
        inputs.forEach(function(input) {
           input.checked = state[input.value];
        });
    }

}());</script>


<footer class="app-footer" role="contentinfo">
    <a href="https://github.com/jbmoelker/jinja-compat-tests">Source on GitHub</a>
</footer>


</body>
</html>